rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() {
      return request.auth != null;
    }
    
    function isOwner(uid) {
      return isAuthenticated() && request.auth.uid == uid;
    }

    match /app_config/{documentId} {
      allow read, write: if true;
    }

    match /global_users/{documentId} {
      allow read, write: if true;
    }
    
    match /upgrade_requests/{documentId} {
      allow read, write: if true;
    }
    
    match /teaching_schedules/{documentId} {
      allow read, write: if true;
    }
    
    match /protas/{documentId} {
      allow read, write: if true;
    }

    match /academic_calendar/{documentId} {
      allow read, write: if true;
    }
  }
}

