rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() {
      return request.auth != null;
    }
    
    function isOwner(uid) {
      return isAuthenticated() && request.auth.uid == uid;
    }

    match /global_users/{documentId} {
      allow read, write: if true;
    }
    
    match /upgrade_requests/{documentId} {
      allow read, write: if true;
    }
    
    match /teaching_schedules/{documentId} {
      allow read: if isOwner(documentId) || isOwner(resource.data.uid);
      allow create: if isOwner(request.resource.data.uid);
      allow update: if isOwner(documentId) || (isOwner(resource.data.uid) && isOwner(request.resource.data.uid));
      allow delete: if isOwner(documentId) || isOwner(resource.data.uid);
    }
    
    match /protas/{documentId} {
      allow read: if isOwner(documentId) || isOwner(resource.data.uid);
      allow create: if isOwner(request.resource.data.uid);
      allow update: if isOwner(documentId) || (isOwner(resource.data.uid) && isOwner(request.resource.data.uid));
      allow delete: if isOwner(documentId) || isOwner(resource.data.uid);
    }
    match /academic_calendar/{documentId} {
      allow read, write: if isOwner(documentId);
    }
  }
}
